src/test/resources/schema/generated/zoo.xsd

<?xml version="1.0" standalone="yes"?>
<!--
  ~ The MIT License
  ~
  ~ Copyright (c) 2017, GrizzlyTech.org
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.grizzlytech.org/testdomain/zoo" xmlns:tns="http://www.grizzlytech.org/testdomain/zoo" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="zoo" type="tns:zoo"/>

  <xs:complexType name="zoo">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="mascot" type="tns:animal" minOccurs="0"/>
      <xs:element name="animals" type="tns:animal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="entryPrice" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:complexType name="animal" abstract="true">
    <xs:sequence>
      <xs:element name="dateOfBirth" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="nickname" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="penguin">
    <xs:complexContent>
      <xs:extension base="tns:animal">
        <xs:sequence>
          <xs:element name="fishPerDay" type="xs:integer" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dolphin">
    <xs:complexContent>
      <xs:extension base="tns:animal">
        <xs:sequence>
          <xs:element name="length" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

